@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050505;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-white/90;
  }
  
  p {
    @apply text-white/60 font-light;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
