@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 249, 250, 251;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-slate-900;
  }
  
  p {
    @apply text-slate-600 font-light;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-gradient-border {
    --angle: 0deg;
    background: 
      linear-gradient(white, white) padding-box,
      conic-gradient(from var(--angle), #0f172a, #94a3b8, #f1f5f9, #94a3b8, #0f172a) border-box;
    border: 2px solid transparent;
    animation: rotate 3s linear infinite;
  }
  
  .animate-gradient-border:hover {
    background: 
      linear-gradient(#f8fafc, #f8fafc) padding-box,
      conic-gradient(from var(--angle), #0f172a, #475569, #e2e8f0, #475569, #0f172a) border-box;
  }
}
